body {
    display: block;
    
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-top: 10px;
    padding-inline: 250px;
    height: 100px;
}

.header img{

    width: auto; 
    max-height: 100%; 
    padding: 10px;

}

.links{
    display: flex;
    gap: 20px;
}

h2{
    font-size: 24px;
    color: #f9faf8;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}



.body{
    display: flex;
    flex-direction: column;
    
   
}



.top_body{
    display: flex;
    justify-content: space-between;
    
    padding-inline: 250px;
    padding-block: 130px;
}



h1{
    font-weight: extra-bold;
    margin-bottom: 5px;
    font-size: 48px;
    color: #f9faf8;
    margin-top: 0;

}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.top_body .text{
    width: 500px;
}

.text button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #3882f6;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.mid_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 200px;
    padding-block: 130px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 900px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.info .text{
    text-align: center;
    
}

.info img{
    display: block;
    height: auto;
    max-width: 100%; 
    padding: 10px;
}

#randominfo {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #1f2937;
    
}

.bottom_body{
    padding-inline: 60px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.bottom_body img{
    height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#container3{
    
   
}

#quote{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#subquote{
    text-align: right;
    font-weight: bold;
    margin-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blueparent{
    
    justify-content: center;
    margin-inline: 200px;
    margin-block: 130px;
}

.bluecontainer{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    padding-block: 16px;
    
    border-radius: 10px;

}

.bluecontainer button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #f9faf8;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.call{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    color: #e5e7eb;
}

.footer,.header,.top_body{
    background-color: #1f2937;
    
}